<a href="https://colab.research.google.com/github/nberry5/DCS-210/blob/main/Berry_hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages("openintro")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘airports’, ‘cherryblossom’, ‘usdata’

In [2]:
library(openintro)

Loading required package: airports

Loading required package: cherryblossom

Loading required package: usdata

In [3]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [7]:
View(seattlepets)

      license_issue_date license_number animal_name     species
1     2018-11-16         8002756        Wall-E          Dog
2     2018-11-11         S124529        Andre           Dog
3     2018-11-21         903793         Mac             Dog
4     2018-11-23         824666         Melb            Cat
5     2018-12-30         S119138        Gingersnap      Cat
6     2018-12-16         S138529        Cody            Dog
7     2017-10-04         580652         Millie          Dog
8     2018-08-09         S142558        Sebastian       Cat
9     2018-08-20         S142546        Madeline        Cat
10    2018-12-08         S123830        Cleo            Cat
11    2018-12-23         961052         Sabre           Dog
12    2018-12-07         S125461        Thomas          Dog
13    2018-10-20         S149153        Glitch          Cat
14    2018-11-07         8002543        Lulu            Dog
15    2018-11-24         817137         Candy           Cat
16    2018-12-15         S138838        Milo            Dog
17    2018-12-07         895346         Cinnamon        Cat
18    2018-11-27         S123980        Anubis          Dog
19    2018-10-31         S123360        Sydney2         Cat
20    2018-10-25         830506         Skylar          Dog
21    2018-10-23         S137719        Cleo            Dog
22    2018-11-07         905090         Petey           Dog
23    2018-12-24         S152290        Kaia            Dog
24    2018-10-23         S122244        Calvin          Cat
25    2018-12-27         8004142        Maya            Dog
26    2018-11-15         8002730        Mochi           Cat
27    2018-11-27         S125276        dmh             Cat
28    2018-12-20         952291         Justin          Cat
29    2018-11-18         835221         Shirley         Dog
30    2018-10-18         S101544        Diesel          Dog
⋮     ⋮                  ⋮              ⋮               ⋮
52490 2016-12-23         S125539        Cake            Dog
52491 2017-11-22         S138308        Margie          Dog
52492 2017-10-09         S105374        Kristy          Cat
52493 2018-04-24         S104465        Tumbler         Cat
52494 2018-07-05         731342         Lily            Cat
52495 2017-09-13         S135798        Ruby            Dog
52496 2018-07-20         282995         Violet          Dog
52497 2018-07-14         S144391        Thursday        Cat
52498 2017-12-22         949309         Homie G         Cat
52499 2017-10-12         S104680        Poppy Valentine Dog
52500 2018-06-01         212116         Mickey          Dog
52501 2016-12-28         S125749        Marie           Cat
52502 2018-08-22         8000275        Elio            Dog
52503 2018-07-10         S145780        Sage            Dog
52504 2018-07-24         77495          Riley           Cat
52505 2017-12-14         956225         Nya             Dog
52506 2018-05-15         S143729        Jones           Dog
52507 2017-08-24         S133481        Buddy 2         Dog
52508 2016-10-18         831383         Magic           Dog
52509 2018-10-09         S122253        Dory            Dog
52510 2018-10-09         8001684        Hank            Dog
52511 2018-07-05         S116195        Oliver          Dog
52512 2018-10-01         8001462        Bo              Dog
52513 2017-08-03         29059          Sophia          Cat
52514 2018-06-26         353939         Jake            Dog
52515 2017-07-26         204383         Molly           Cat
52516 2018-03-28         S140831        Onion           Cat
52517 2018-09-15         8000931        Lego            Dog
52518 2017-09-01         S135347        Iris            Dog
52519 2016-12-20         959610         Bailey          Dog
      primary_breed
1     Mixed Breed, Medium (up to 44 lbs fully grown)
2     Terrier, Jack Russell
3     Retriever, Labrador
4     Domestic Shorthair
5     Domestic Shorthair
6     Retriever, Labrador
7     Terrier, Boston
8     Domestic Shorthair
9     Domestic Shorthair
10    Domestic Shorthair
11    Terrier
12    Chihuahua, Short Coat
13    Siamese
14    Vizsla, Smooth Haired
15    Domestic Shorthair
16    Boxer
17    Domestic Shorthair
18    Poodle, Standard
19    Domestic Medium Hair
20    Border Collie
21    Bernese Mountain Dog
22    Pomeranian
23    Karelian Bear Dog
24    American Shorthair
25    Chihuahua, Short Coat
26    Domestic Medium Hair
27    Domestic Medium Hair
28    Domestic Medium Hair
29    Australian Shepherd
30    Shepherd
⋮     ⋮
52490 Australian Shepherd, Miniature
52491 Coton de Tulear
52492 American Shorthair
52493 Domestic Longhair
52494 Siamese
52495 Retriever, Labrador
52496 Chihuahua, Short Coat
52497 Domestic Medium Hair
52498 Domestic Medium Hair
52499 Retriever, Golden
52500 Australian Shepherd
52501 Domestic Shorthair
52502 Terrier, Staffordshire Bull
52503 Poodle, Standard
52504 Domestic Shorthair
52505 Terrier, Yorkshire
52506 Retriever, Flat-Coated
52507 Retriever, Labrador
52508 Doberman Pinscher
52509 Retriever, Labrador
52510 Australian Shepherd
52511 Chihuahua, Short Coat
52512 Terrier, Yorkshire
52513 Siamese
52514 Retriever, Labrador
52515 Domestic Longhair
52516 Domestic Shorthair
52517 Pomeranian
52518 Terrier, American Staffordshire
52519 Retriever, Labrador
      secondary_breed                 zip_code
1     Mix                             98108
2     Dachshund, Standard Wire Haired 98117
3     NA                              98136
4     NA                              98117
5     Mix                             98144
6     NA                              98103
7     NA                              98115
8     Mix                             98122
9     Mix                             98105
10    NA                              98199
11    NA                              98126
12    Mix                             98177
13    Domestic Medium Hair            98122
14    Mix                             98105
15    NA                              98126
16    Retriever, Labrador             98109
17    NA                              98144
18    NA                              98112
19    NA                              98101
20    Terrier, Airedale               98144
21    Spaniel                         98107
22    Shih Tzu                        98119
23    NA                              98117
24    NA                              98119
25    NA                              98126
26    Mix                             98105
27    Mix                             98117
28    NA                              98122
29    Retriever, Golden               98144
30    Mix                             98118
⋮     ⋮                               ⋮
52490 Rottweiler                      98117
52491 NA                              98112
52492 NA                              98117
52493 Mix                             98117
52494 Norwegian Forest                98122
52495 NA                              98103
52496 Terrier                         98199
52497 Mix                             98103
52498 NA                              98133
52499 NA                              98119
52500 NA                              98118
52501 Mix                             98115
52502 Mix                             98104
52503 NA                              98118
52504 NA                              98103
52505 Griffon, Brussels               98122
52506 Mix                             98112
52507 Mix                             98177
52508 NA                              98116
52509 Poodle, Standard                98177
52510 Mix                             98122
52511 Mix                             98119
52512 Shih Tzu                        98116
52513 Mix                             98103
52514 NA                              98122
52515 NA                              98125
52516 Mix                             98177
52517 Mix                             98107
52518 NA                              98115
52519 Akita                           98116

In [14]:
seattlepets %>%
  group_by(species) %>%
  count(animal_name, sort = TRUE) %>%
  slice_max(n, n=5) %>%
  arrange(species, n)

   species animal_name            n
1  Cat     Max                     83
2  Cat     Lily                    86
3  Cat     Lucy                   102
4  Cat     Luna                   111
5  Cat     NA                     406
6  Dog     Daisy                  221
7  Dog     Luna                   244
8  Dog     Bella                  249
9  Dog     Charlie                306
10 Dog     Lucy                   337
11 Goat    Abelard                  1
12 Goat    Aggie                    1
13 Goat    Arya                     1
14 Goat    Beans                    1
15 Goat    Brussels Sprout          1
16 Goat    Darcy                    1
17 Goat    Fawn                     1
18 Goat    Fiona                    1
19 Goat    Gavin                    1
20 Goat    Grace                    1
21 Goat    Grayson                  1
22 Goat    Holly                    1
23 Goat    Junebug                  1
24 Goat    Lilac                    1
25 Goat    Linda                    1
26 Goat    Lula                     1
27 Goat    Magnolia                 1
28 Goat    Margot                   1
29 Goat    Max                      1
30 Goat    Moppet                   1
31 Goat    Nani                     1
32 Goat    Olive                    1
33 Goat    Pegasis                  1
34 Goat    Pepina                   1
35 Goat    Phyllis                  1
36 Goat    Piper                    1
37 Goat    Professor Nibblesworth   1
38 Goat    Ramsey                   1
39 Goat    Robuchon                 1
40 Goat    Sassy                    1
41 Goat    Sister Bertrille         1
42 Goat    Squiggie                 1
43 Goat    Tacoma                   1
44 Goat    Tati                     1
45 Goat    Teddy                    1
46 Goat    Truffle                  1
47 Goat    Heidi                    2
48 Pig     Atticus                  1
49 Pig     Coconut                  1
50 Pig     Darla                    1
51 Pig     Millie                   1
52 Pig     Othello                  1
53 Pig     NA                       1